* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    text-decoration-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}


html,
body {
    scroll-behavior: smooth;
}

/*===== Common css Ends =====*/

/*===== navbar part css start =====*/
.navbar {
    padding-top: 15px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    transition: all linear .3s;
}

.bg {
    background: #191919;
    position: fixed;
    animation: menu 1s;
    width: 100%;
    z-index: 9999;
    height: 110px;
}

@keyframes menu {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #ffff !important;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .3s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #00a3d9;
    opacity: 0;
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00a3d9 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active:after {
    opacity: 1;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar img {
    height: 100px;
}

/*===== navbar part css start =====*/



/*===== banner part css start =====*/

#banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#banner .banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.banner_item {
    padding-bottom: 25px;
}

.banner_item h3 {
    padding-top: 250px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 6px;
}

.banner_item h1 {
    font-size: 52px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 14px;
}

.banner_item p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
}

.banner_item a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 38px;
    border-radius: 3px;
    background: #00a3d9;
    text-transform: uppercase;
    transition: all 0.3s;
}

.banner_item a:hover {
    background-color: transparent;
    border: 1px solid #00a3d9;

}

/*===== banner part css ends =====*/


/*===== service part css start =====*/
#service {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(253, 238, 251);
}

.service-item {
    height: 400px;
    border-radius: 10px;
    padding: 50px 15px;
    border: 1px solid #8b8b8b;
    border-bottom: 5px solid #838282;
    transition: all linear .3s;
    background-color: #fff;
}

.service-item:hover {
    border: 1px solid skyblue;
    border-bottom: 5px solid skyblue;
}

.service-item i {
    font-size: 48px;
    color: #353535;
    transition: all linear .3s;
}

.service-item h3 {
    font-size: 22px;
    color: #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    transition: all linear .3s;
    padding-top: 24px;
}

.service-item p {
    font-size: 14px;
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 12px;
    line-height: 24px;
    transition: all linear .3s;
    padding-bottom: 20px;
}

.service-item:after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 70px;
    height: 3px;
    transform: translateX(-50%);
    background-color: #f1eee9;
    transition: all linear .3s;
}

.service-item:hover i {
    color: #00a3d9;
}

.service-item:hover h3 {
    color: #00a3d9;
}

.service-item:hover p {
    color: #00a3d9;
}

.service-item:hover:after {
    background-color: #00a3d9;
}

.service-item a {
    font-size: 12px;
    color: #353535;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 30px;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 1px solid #353535;
}

.service-item:hover a {
    color: #fff;
    background-color: #00a3d9;
    border: 1px solid #00a3d9;

}

/*===== service part css ends =====*/




/*===== donate part css start =====*/
#donate {
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
    padding-top: 47px;
    padding-bottom: 47px;
}

.pur_left h3 {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 70px;
}



.pur_left p {
    color: #615855;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 4px;
}

.pur-right {
    padding-top: 20px;
}



.pur-right a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 45px;
    border-radius: 3px;
    background: #02506a;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 1px solid #02506a;
}

.pur-right a:hover {
    color: #fff;
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
    border: 1px solid #02506a;

}

/*===== donate part css ends =====*/


/*===== projects part css start =====*/
#projects {
    padding-top: 80px;
    padding-bottom: 80px;
}

#projects .projects-head {
    color: #615855;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 50px;
}

.pro-items {
    padding-bottom: 30px;
}

.pro-img {
    position: relative;
}

.pro-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all linear .3s;
}

.pro-items:hover .pro-img .overlay {
    opacity: 1;
}

.pro-img .overlay i {
    position: relative;
    color: #81dfff;
    top: 50%;
    transform: translateY(-50%);
    transition: all linear .3s;
    font-size: 24px;
    margin: 0 15px;
}



.pro-text {
    padding: 30px 28px;
    background: #fbfaf8;
    position: relative;
}

.pro-text:after {
    position: absolute;
    content: '';
    height: 28px;
    width: 28px;
    top: -14px;
    left: 20px;
    transform: rotate(45deg);
    background: #fbfaf8;
    transition: all linear .3s;
}



.pro-text {
    background: #362f2d;
}

.pro-text:after {
    background: #362f2d;
}

.pro-items:hover .pro-text h4 {
    color: #ffffff;
}

.pro-items:hover .pro-text p {
    color: #c7b299;
}

.pro-text {
    transition: all linear .3s;
}

.pro-text h4 {
    color: #c7b299;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all linear .3s;
}

.pro-text p {
    color: #d1d1d1;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: all linear .3s;
    margin-bottom: 0;
}

.pro_a h5 {
    padding-top: 20px;
}

.pro_a a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 45px;
    border-radius: 3px;
    background: #998675;
    border-bottom: 3px solid #736357;
    text-transform: uppercase;
    margin-left: 30px;
}


/*===== projects part css ends =====*/


/*===== sign part css start =====*/
#sign {
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
    padding-top: 47px;
    padding-bottom: 47px;
}

#sign .pur_left h3 {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 70px;
}

#sign .pur_left p {
    color: #615855;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 4px;
}

#sign .pur-right {
    padding-top: 20px;
}

#sign .pur-right a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 50px;
    border-radius: 3px;
    background: #02506a;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 1px solid #02506a;
}

#sign .pur-right a:hover {
    color: #fff;
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
    border: 1px solid #02506a;

}

/*===== sign part css ends =====*/



/*===== about part css text =====*/

#about {
    padding-top: 80px;
    padding-bottom: 80px;
}


.mob-text {
    padding-top: 60px;
}

.mob-text h3 {
    color: #555555;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

.mob-text p {
    color: #615855;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
}

.mob-fe {
    padding-left: 40px;
    padding-top: 20px;
}

.mob-fe i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: #02506a;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 30px;
}

/*===== mobile part css ends =====*/


/*===== counter part css ends =====*/
#counter {
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
    padding-top: 64px;
    padding-bottom: 64px;
}

.count-1 h3 {
    color: #ffffff;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

.count-1 p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.count-1 i {
    font-size: 48px;
    color: #fff;
    transition: all linear .3s;
}

/*===== counter part css ends =====*/


/*===== client part css start =====*/

#client {
    background: url(../images/clients.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
}

#client .client-head h2 {
    color: #fff;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 50px;
    position: relative;
    z-index: 999;
}

#client:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.client-img {
    position: relative;
    z-index: 99;
    padding-bottom: 50px;
}

/*===== client part css ends =====*/


/*===== copyright part css start =====*/
#copyright {
    padding-top: 25px;
    padding-bottom: 10px;
    background: #2c383b
}

#copyright p {
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 50px;
}

#copyright .privacy {
    margin-left: 20px;
}

#copyright a {
    color: #acacac;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 12px;
    border-left: 1px solid #252525;

}

.right-side span {
    padding-right: 10px;
    color: #959595;
    border-right: 1px solid #252525;
}

.right-side p {
    color: #555555;
    font-size: 13px;
    font-family: 'Montserrat', sans-ser if;
    font-weight: 300;
}

.dote {
    padding: 5px 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #353535;
    color: #fff;
    font-size: 20px;
}

.dote:hover {
    background-color: #353535;
    color: #fff;

}

/*===== copyright part css ends =====*/



/************* futter start **************/

#futter {
    padding-bottom: 50px;
}


#futter .futter_detail .logo h2 {
    padding-top: 40px;
    color: #ffff;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 40px;
}

#futter .futter_detail p {
    color: #8b969e;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 10px;
}

#futter .futter_detail span {
    color: #fff;
}

#futter .futter_detail .pay img {
    width: 90%;
    padding-top: 30px;

}

#futter .futter_link h4 {
    color: #353535;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}


#futter .futter_link ul li {
    padding: 4px 0;
    list-style: none;
}

#futter .futter_link ul li a {
    color: #8b969e;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: all linear .3s;
}

#futter .futter_link ul li a:hover {
    color: #000;
    padding-left: 10px;
}

/* About page */

#about-banner h1 {
    padding-top: 250px;
    font-size: 52px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 14px;
}

#about-banner {
    background: url(../images/banner-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

#about-banner .banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
}

#about-part {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about-part .about-first-part {
    padding-bottom: 80px;
}

#about-part .about-img img {
    width: 100%;
}

#about-part h3 {
    color: #555555;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

#about-part p {
    color: #615855;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
}


#video {
    background: url(../images/baby.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    background-attachment: fixed;
}

#video:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.5);
}

.video-head {
    position: relative;
    z-index: 99;
}

.video-head h2 {
    color: #ffffff;
    padding-top: 40px;
}

.video-head p {
    color: #ffffff;
}

.video-head i {
    font-size: 73px;
    color: #ffffff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}


/* Service page Start */

#about-banner h1 {
    padding-top: 250px;
    font-size: 52px;
    color: #ffffff;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 14px;
}

#about-banner {
    background: url(../images/banner-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

#about-banner .banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
}

#service-part {
    padding-top: 80px;
    padding-bottom: 80px;
}

#service-part .about-first-part {
    padding-bottom: 80px;
}

#service-part .about-img img {
    width: 100%;
}

#service-part h3 {
    color: #555555;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

#service-part p {
    color: #615855;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
}

#funds {
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgb(2, 80, 96);
    background: linear-gradient(90deg, rgba(2, 80, 96, 1) 0%, rgba(0, 163, 217, 1) 86%);
}

#funds h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 30px;
}